*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.html{
    font-family: 'Roboto', sans-serif;
    background-color: blue;
}

.btn{
    padding:15px 20px;
    border: none;
    border-radius: 60px;
    background-color: transparent;
    font-weight: bold;

}

.btn:hover,
.btn:active,
.btn:focus{
    color: white;
    cursor: pointer;
}


.header{
    background-color: yellow;
}

.menu{
    padding: 30px 0;
    width: 80%;
    margin:0 auto;
}
.jumbo{
    padding: 140px;
    background-image: url(../hero-pe-8.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.logo,
.menu-list,
.sign-in{
    display: inline-block;
    vertical-align: middle;
}


.menu-list{
    list-style-type: none;
    width: 75%;
    font-weight: bold;
    text-align: center;
}

.menu-list-item{
    display: inline-block;
    margin: 0 30px;
 
}

.nav{display: block;

}

.sign-in{
    width: 10%;
    padding:10px 15px;
    border: none;
    border-radius: 60px;
    background-color: transparent;
    font-weight: bold;
}

.menu-list-item a{
    text-decoration: none;
    color: black;
}

.menu-list-item a:hover,
.menu-list-item a:active,
.menu-list-item a:focus{
    padding-bottom: 2px;
    border-bottom: 2px solid violet;
}

.sign-in:hover,
.sign-in:active,
.sign-in:focus{
    background-color: blue;
    color: white;
    cursor: pointer;
}

.sign-in .icon-user{
    padding: 0 2px;
    border: 1px solid black;
    border-radius: 2px;

}

.sign-in:hover,.icon-user,
.sign-in:active,.icon-user,
.sign-in:focus .icon-user{
    border: 1px solid white;
}

.jumbo-content{
    width: 700px;
    margin: 0 auto;
}

.jumbo-content ul{
    
    margin-bottom: 20px;
    list-style-type: ">";
    
}

.jumbo-content h1,
.jumbo-content h2{
    margin-bottom: 15px;
}

.download{
    padding: 7px 15px;
    border: 2px solid black;
    


}

.jumbo-content ul li{
    margin-bottom: 10px;
    padding-left: 6px;
}


.download:hover,
.download:active,
.download:focus{
    background-color: black;
    color: white;
}

.main-menu-item{
    text-decoration: none;
    display: inline-block;
    margin: 0 40px;
    color: black;
}

.main-menu-item a{
    text-decoration: none;
    color: black;
}

.main-menu{
    display: inline-block;
    text-decoration: none;
    width: 95%;
    font-weight: bold;
    text-align: center;
}

.main-menu-item:hover,
.main-menu-item:active,
.main-menu-item:focus{
    padding: 30px 40px;
    background-color: hsl(0, 100%, 99%);
}

.main-menu-item:hover{
    padding: 25px 35px;
    background-color: hsl(0, 100%, 99%);
}

.main{
    background-color: #f0eeee;
    margin: 0 auto;
    list-style-type: none;
    padding: 40px 0;
}